<div class="container-fluid px-0 py-5 bg-black text-white ">
    <div style="background: #121212; color: white; text-align: center; padding: 40px 20px;">
        <h2>Let's work together on your next project</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec<br>
                ullamcorper mattis, pulvinar
                                    dapibus leo.</p>
            <button class="btn btn-primary btn-lg">Learn More</button>
            <div style="margin-top: 20px;">
                <div style="background: #121212; text-align: center; padding: 20px;">
                    <a class="nav-link" style="display: inline-block; margin: 2; padding: 2; color: white;">
                        <i class="bi bi-facebook" style="font-size: 18px;"></i>
                    </a>
                    <a class="nav-link" style="display: inline-block; margin: 2; padding: 2; color: white;">
                        <i class="bi bi-instagram" style="font-size: 18px;"></i>
                    </a>
                    <a class="nav-link" style="display: inline-block; margin: 2; padding: 2; color: white;">
                        <i class="bi bi-twitter-x" style="font-size: 18px;"></i>
                    </a>
                </div>
            </div>
            <p style="margin-top: 20px; font-size: 0.9rem;">Copyright 2023 - Neve FSE theme</p>
        </div>
    </div>