{% extends 'src/partials/layout.njk' %}
{% block content %}
    <div class="container">
        <h1>Patterns</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, nostrum. Neque ab, ex eum ea soluta qui
            nihil. Modi, magnam. Iste hic vitae odio nulla voluptatum iure dignissimos est libero? Eum ullam exercitationem
            voluptates eos mollitia nisi libero veritatis earum. Ea, quia perspiciatis vel doloremque ipsum illum quam harum
            aliquam. Facilis perferendis ipsa aspernatur officia dolorum at laborum! Vitae, debitis! Dolor, facere. Quo soluta
            voluptatum iste vero corporis, ducimus excepturi! Vero iusto cum, optio totam culpa aperiam eaque ratione perferendis.
            Dolores perferendis ducimus vero culpa ea quasi, ut eaque corporis? Consequuntur maxime quia ipsam aliquam tempora
            veritatis suscipit. Officia, ullam?</p>
    </div>
{% endblock %}